:root {
    --color-accent: #b2a4ff;
    --color-accent-hover: #a89bf2;
    --color-accent-active: #9d90e6;
    --color-accent-light: #ffb4b4;
    --color-accent-light-hover: #f6abab;
    --color-accent-light-active: #f0a3a3;
    --color-accent-lighter: #ffdeb4;
    --color-accent-lightest: #fdf7c3;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
    font-weight: 600;
}

html, body,
h1, h2, h3, h4, h5, h6,
p, button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.max-width {
    max-width: min(calc(100vw), 60vh);
    margin: 0 auto;
}

.visibility-hidden {
    visibility: hidden;
}

.site-container {
    position: relative;
    height: 100vh;
}

.title-screen {
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-accent);
    color: white;
    font-size: 4vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s ease 0s;
}

.title-screen.visibility-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s ease 0.5s;
}

.title {
    margin-top: 25vh;
}

.title + .container {
    position: relative;
    margin-bottom: 25vh;
    width: 30vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playButton,
.vs {
    position: absolute;
}

.vs {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    width: 100%;
}

.title-screen button {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 4vh;
    padding: 1vh 3vh;
    height: 7.5vh;
    width: 100%;
    background-color: var(--color-accent-light);
    color: #fff;
    border-radius: 3vh;
    border: none;
}

.title-screen button:hover {
    background-color: var(--color-accent-light-hover);
}

.title-screen button:active {
    background-color: var(--color-accent-light-active);
}

.footer {
    /* padding: 0.5rem; */
    color: white;
    text-align: center;
    font-size: 1.5vh;
    margin-bottom: 2.5vh;
}

.svg-icon {
    display: inline-block;
    vertical-align: bottom;
    fill: currentColor;
    height: 3vh;
}

.copyright {
    line-height: 3vh;
}

.copyright svg:hover {
    transition: 0.15s;
    fill: lightgrey;
}

.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: var(--color-accent);
    height: 8vh;
    color: #fff;
}

.header > .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 4vh;
}

.header .button {
    height: 8vh;
    width: 8vh;
    background: none;
    border-radius: 50%;
    padding: 1vh;
    margin: 1vh;
}

.button {
    border: none;
}

.button svg {
    fill: #fff;
}

.main {
    flex: 1;
    background-color: var(--color-accent-lightest);
    color: var(--color-accent-light);
}

.main > .container {
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, auto);
}

.main-top {
    justify-self: center;
    align-self: end;
    margin: 3vh 0 1vh 0;
}

.main-top > p {
    font-size: 6vh;
}

.board-container {
    position: relative;
    width: min(calc(100vw), 60vh);
}

.board-container::before {
    display: block;
    content: "";
    padding-top: 100%;
}

.board {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-accent-lighter);
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
}

.cell {
    font-family: 'Pangolin', cursive;
    background-color: white;
    color: var(--color-accent-light);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: min(20vh, 30vw);
}

.cell.one::before {
    content: 'o';

}

.cell.two::before {
    content: 'x';
}

.cell::before {
    color: var(--color-accent-light);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease, visibility 0s ease 0.1s;
}

.cell:hover::before {
    opacity: 0.25;
    visibility: visible;
    transition: opacity 0.1s ease, visibility 0s ease 0s;
}

.cell span {
    position: relative;
}

.cell.winner span {
    animation: 0.1s ease-in-out forwards winner;   
}

@keyframes winner{
    from {
        transform: scale(1);
    }

    30% {
        transform: scale(1.7);
    }

    to {
        transform: scale(1.2);
        color: lightgreen;
    }
}

.cell.clicked span {
    animation: 0.1s ease-in-out forwards clicked;
}


.cell.invalid span {
    animation: 0.1s ease-in-out 3 invalid;
}

@keyframes clicked {
    from {
        transform: scale(1);
    }

    30% {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}

@keyframes invalid {
    from {
        left: 0.5vh;
    }
    to {
        left: -0.5vh;
    }
}


.main-bot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: min(2vh, 6vw) min(2vh, 3vw);
    justify-content: space-between;
}

.main-bot > .player-container.two {
    text-align: end;
}

.main-bot p {
    font-size: 3vh;
}

.main-bot button {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 4vh;
    padding: 1vh 3vh;
    background-color: var(--color-accent);
    color: #fff;
    border-radius: 3vh;
    border: none;
    margin: 1vh;
}

.button {
    opacity: 1;
    transition: background-color 0.1s, opacity 0.15s ease, visibility 0s ease 0s;
}

.button.visibility-hidden {
    opacity: 0;
    transition: opacity 0.15s ease, visibility 0s ease 0.15s;
}

.button:hover {
    background-color: var(--color-accent-hover);
}

.button:active {
    background-color: var(--color-accent-active);
}

